# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Venv
/venv/*
/dbnavigator.xml
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/python3-midi.iml
/vcs.xml
/.idea/dbnavigator.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/python3-midi.iml
/.idea/vcs.xml
